<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <div class="example-sidenav">
            <img src="../../../assets/logos/دفتر الاستاذ-logos_transparent1.png" style="width: 70px;height: 70px;" srcset="">
        </div>
        <div class="flex">
            <button mat-button class="nav-button" [routerLink]="['group']" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            <span>المجموعات</span>
          </button>
        </div>
        <div class="flex">
            <button mat-button class="nav-button" [routerLink]="['/student' ]" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          <span>كل الطلاب</span>
        </button>
        </div>
        <div class="flex">
            <button mat-button class="nav-button" [routerLink]="['/accounting' ]" routerLinkActive="active">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>الحسابات</span>
      </button>
        </div>
    </mat-drawer>

    <ng-content></ng-content>


</mat-drawer-container>