.example-container {
  background-color: white;
}

.example-sidenav {
  background-color: whitesmoke;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.example-sidenav {
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
  background-color: whitesmoke;
}

.active {
  background-color: whitesmoke;
}
