.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgContainer {
  width: 100%;
  margin-top: 20px;
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.brawn {
  color: var(--brawn);
}

.text {
  font-weight: bold;
  font-size: large;
  text-align: start;
}
