.group-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}

.list-container {
  display: grid;
  width: 80%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 10px;
}

.stage {
  font-weight: bold;
  color: #ccc;
}

.card {
  width: 100%;
  height: 150px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.blue {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr[mat-header-row] {
  background-color: whitesmoke;
}

tr[mat-row]:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

table {
  border-radius: 10px;
}
