.example-spacer {
  flex: 1 1 auto;
}

.favorite-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.img:hover {
  cursor: pointer;
}
