<div class="group-list">
    <div class="">

    </div>
    <div class="list-container" *ngIf="student$.getValue() !== null">
        <div class=""></div>
        <mat-card class="card">
            <mat-card-header class="card-actions">
                <div class="flex">
                    <span> {{student$.getValue()?.name}}</span>
                    <mat-icon style="font-size: large; height: 20px;">calender</mat-icon>

                </div>
                <span>{{student$.getValue()?.gender == 'Mail' ? 'ذكر' : 'أنثى'}}</span>
            </mat-card-header>
            <mat-card-content class="group-list">
                <h3 class="stage">{{student$.getValue()?.phone}}</h3>
            </mat-card-content>

            <mat-card-actions class="card-actions">
                <div class="flex1">
                    <mat-icon style="font-size: large; height: 20px;">money_cash</mat-icon>
                    <span>{{student$.getValue()?.price}}</span>

                </div>
                <div class="flex1">
                    <span> {{student$.getValue()?.paymentMethod == 'monthly' ? 'شهريا' : 'كل حصه'}}</span>
                    <mat-icon style="font-size: large; height: 20px;">money</mat-icon>

                </div>

            </mat-card-actions>
        </mat-card>
        <div class=""></div>
    </div>
    <button mat-raised-button style="margin-top: 20px;" [routerLink]="['/student' , 'add']">
    <mat-icon class="mat-18">add</mat-icon>
    <span>طالب</span>
  </button>
    <div class="list-container2">
        <div class=""></div>
        <div class="">

        </div>
        <div class=""></div>
    </div>
</div>